<template lang="pug">
  .container
    p.title.is-4 {{ user.name }}
    p.subtitle.is-6 {{ user.email }}
</template>
<script>
import gql from 'graphql-tag'
const USER_QUERY = gql`
  query user($id: ID!) {
    user(
      where: {
        id: $id
      }
    )
    {
      id
      name
      email
      roles {
        role
      }
      picture {
        location
      }
    }
  }
`
export default {
  name: 'UserProfile',
  data: () => ({
    id: '',
    loading: 0
  }),
  apollo: {
    user: {
      query: USER_QUERY,
      variables () {
        return {
          id: this.$route.params.id
        }
      }
    }
  }
}
</script>
