<template lang="pug">
  table
    thead
      th ID
      th name
      th email
      th roles
      th actions
    tfoot
      th ID
      th name
      th email
      th roles
      th actions
    tbody
      tr(v-for="user in users", :key="user.id")
        td {{ user.id }}
        td
          a(:href="`/#/user/${user.id}`") {{ user.name }}
        td {{ user.email }}
        td {{ user.roles.role }}
        td DELETE

</template>
<script>
import gql from 'graphql-tag'
const ALL_USERS_QUERY = gql`
  query {
    users{
      id
      name
      email
      roles {
        role
      }
    }
  }
`
export default {
  name: 'AllUsers',
  data: () => ({
    loading: 0
  }),
  apollo: {
    users: {
      query: ALL_USERS_QUERY
    }
  }
}
</script>
